body{
    background-color: #911313;
}

@font-face{
    font-family: myFont;
    src: url(Sekuya-Regular.ttf);
}

h1{
    font-family: myFont;
    color: #f08282;
    text-align: center;
    margin: 10px;padding: 10px;
}

h2{
    text-align: center;
    font-family: myFont;
    font-size: 20px;
    color: #f08282;
}
.bold{
    text-decoration: underline;
    font-weight: 900;
    font-size: 25px;
}

.intro{
    text-align: center;
    color: #f08282;
    padding-top: 50px;
}
.product{
    text-align: center;
    color: #f08282;
    padding-top: 25px;
}

.container{
    display: flex;
}

.par{
    max-width: 400px;
    background-color: #BDEAFF;
}
.image{
    padding: 0px;
}
.Unique{
    color: #BDEAFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
}
/* Animation Code */
@keyframes move {
    0% { transform: rotate(360deg); } /*Sets the original angle*/
    50% { transform: rotate(-360deg); } /*Sets the angle when at 50%*/
    100% { transform: rotate(360deg); } /*Sets the final angle*/
}


/* Applyies the animation */
#Bot {
    animation: move 15s forwards infinite;
}